@{
    ViewData["Title"] = "Stock";
    ViewData["System"] = "บันทึกรายการสั่งซื้อ";
    Layout = "_Stock";
}

@section Styles {
    <link rel="stylesheet" href="~/Plugins/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" />
}

<div class="card">
    <div class="card-body" scroll>
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- Header -->
                <section>
                    <div class="d-flex mb-2">
                        <div class="mr-2">
                            <a href="@Url.Action("FrmStore", "ST_Store", new { mode = "Add"})" class="btn btn-sm btn-success"><i class="fas fa-folder-plus"></i>&nbsp;&nbsp;เพิ่ม</a>
                        </div>
                    </div>
                    <hr />
                </section>
                <!-- Table -->
                <section>
                    <table id="DT_Table" class="table table-md table-hover table-bordered">
                        <thead class="thead-black">
                            <tr>
                                <th class="text-center" style="width:20%;"> เลขที่เอกสาร </th>
                                <th class="text-center" style="width:20%;"> วันที่ทำรายการ </th>
                                <th class="text-center"> Supplier </th>
                                <th class="text-center" style="width:5%;"> <i class="fas fa-info-circle"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var row in ViewBag.DT_Dish)
                            {
                                <tr>
                                    <td>@row.DishId</td>
                                    <td>@row.DishName</td>
                                    <td class="text-center"><a href="@Url.Action("FrmDish", "CD_Dish", new { mode = "Edit", id = row.DishId})" class="text-info"><i class="fas fa-edit"></i></a></td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Plugins/DataTables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".item_click_Store").addClass("active");

            $('#DT_Table').DataTable({
                "info": false,
                "ordering": false
            });
        });
    </script>
}