<!-- Modal Staple -->
<div class="modal fade bd-example-modal-sm" id="popupDiscount" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="popupDiscountTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-md-6 mx-auto text-center">
                        <label class="font-weight-bold">ส่วนลด</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 mx-auto">
                        @*<input type="text" class="form-control form-control-sm numberonly text-right" id="txtDiscount" />*@

                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control numberonly text-right" id="txtDiscount" value="0" placeholder="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        @*<input type="text" class="form-control form-control-sm numberonly text-right" id="txtDiscountBath" />*@

                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control numberonly text-right" id="txtDiscountBath" value="0.00"  placeholder="0.00">
                            <div class="input-group-append">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mb-2">
                    <button type="button" class="btn btn-sm btn-success" btn-select>ตกลง</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#popupDiscount').on('shown.bs.modal', function () {
        // Calculate
        const Balance = $('#txtBalance').val()

        document.getElementById("txtDiscount").addEventListener("blur", () => {
            const Discount = $('#txtDiscount').val()
            const TotalDiscount = parseFloat(Balance.replace(/,/g, '')) * parseFloat(Discount.replace(/,/g, '')) / 100
            $('#txtDiscountBath').val(numeral(TotalDiscount).format('0,0.00'))
        })

        document.getElementById("txtDiscountBath").addEventListener("blur", () => {
            const DiscountBath = $('#txtDiscountBath').val()
            const TotalDiscount = parseFloat(DiscountBath.replace(/,/g, '')) / parseFloat(Balance.replace(/,/g, '')) * 100
            $('#txtDiscount').val(numeral(TotalDiscount).format('0,0.00'))
        })

        document.querySelector("[btn-select]").addEventListener("click", () => {
            const discount = document.getElementById("txtDiscount").value
            Discount(discount)
        })
    })    
</script>