@{
    ViewData["Title"] = "Kitchen";
    ViewData["System"] = "ระบบห้องครัว";
    Layout = "_Kitchen";
    var DateNow = DateTime.Now.ToString("dd/MM/yyyy");
    var Date = DateTime.Now.ToString("yyyy-MM-dd");
}

@section Styles {
    <link href="~/Plugins/Jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Plugins/SlimScroll-1.3.8/libs/prettify/prettify.css" />
}

<h1>KITCHEN</h1>