@{
    ViewData["Title"] = "รูปแบบบัญชี";
    ViewData["System"] = "รูปแบบบัญชี";
    Layout = "_Manage";
}

<div class="card">
    <div class="card-body">
        <section>
            <div class="d-flex mb-2">
                <div class="mr-2">
                    <a href="@Url.Action("FrmPattern", "GL_Pattern", new { mode = "Add"})" class="col-form-label-sm text-success"><i class="fas fa-folder-plus"></i>&nbsp;เพิ่มรูปแบบบัญชี</a>
                </div>
            </div>
            <hr />
        </section>
    </div>
</div>