body {
    /*background-image: url('../../Images/System/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F9F9FD;*/
    background-color: #ECEDF1;
}

.form-login .card {
    background-color: #ECEDF1;
    border-color: #ECEDF1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    border-radius: 0px;
    border: none;
/*    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;*/
}

.form-login .card .card-img-top {
    width: 125px;
    height: 125px;
    margin: 20px auto 0;
}

.form-login .card input,
.form-login .card .input-group-prepend,
.form-login .card span,
.form-login .card button {
    border-radius: 20px;
    border-color: none;
}
