@using REST.Service;
@model ViewMB_Emproyee;
@{
    ViewData["Title"] = "Personnel";
    ViewData["System"] = "ทะเบียนพนักงาน";
    Layout = "_Member";
}

@section Styles{
    <link href="~/Plugins/Datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-11 mx-auto">
                <!-- Header -->
                <section class="FrmHeader">
                    <div class="d-flex mb-2">
                        <div class="mr-auto">
                            <a href="@Url.Action("FrmEmproyee", "MB_Emproyee", new { mode = "Add" })" class="btn btn-sm btn-success mr-3"><i class="fas fa-folder-plus"></i>&nbsp;&nbsp;เพิ่ม</a>
                        </div>
                    </div>
                    <hr />
                </section>
                <!-- Form -->
                <section>
                    <form name="FrmEmproyee" method="post">
                        <!-- profile -->
                        <section class="content-profile">
                            <p class="font-weight-bold"><i class="fas fa-user"></i>&nbsp;ข้อมูล</p>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">รหัสสมาชิก :</label>
                                        @if (ViewData["Readonly"].ToString() != "")
                                        {
                                            <input asp-for="EmproyeeId" type="text" class="form-control form-control-sm" readonly>
                                        }
                                        else
                                        {
                                            <input asp-for="EmproyeeId" type="text" class="form-control form-control-sm">
                                        }
                                        <span asp-validation-for="EmproyeeId" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">วันที่สมัคร :</label>
                                        <input asp-for="DateRegister" type="text" class="form-control form-control-sm datepickernow" placeholder="dd/mm/yyyy">
                                        <span asp-validation-for="DateRegister" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">เลขที่บัตรประชาชน :</label>
                                        <input asp-for="IdCard" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="IdCard" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">คำนำหน้า :</label>
                                        <input asp-for="Title" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Title" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">ชื่อ :</label>
                                        <input asp-for="FirstName" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="FirstName" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">นามสกุล :</label>
                                        <input asp-for="LastName" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="LastName" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <label asp-for="Status" class="col-form-label form-label-sm">สถานะ :</label>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input asp-for="Status" type="radio" id="R1" name="Status" value="1" class="form-check-input" checked>
                                            <label class="form-check-label col-form-label col-form-label-sm" for="R1">โสด</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input asp-for="Status" type="radio" id="R2" name="Status" value="2" class="form-check-input">
                                            <label class="form-check-label col-form-label col-form-label-sm " for="R2">สมรส</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">วันเกิด :</label>
                                        <input asp-for="DateBirthday" type="text" class="form-control form-control-sm datepicker" placeholder="dd/mm/yyyy">
                                        <span asp-validation-for="DateBirthday" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">เบอร์โทร :</label>
                                        <input asp-for="PhoneNumber" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="PhoneNumber" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">E-Mail :</label>
                                        <input asp-for="Email" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Email" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Address -->
                        <section class="content-address">
                            <p class="font-weight-bold"><i class="fas fa-map-marked-alt"></i>&nbsp;ที่อยู่</p>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">เลขที่ :</label>
                                        <input asp-for="AddrNo" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="AddrNo" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">หมู่ :</label>
                                        <input asp-for="Moo" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Moo" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">ถนน :</label>
                                        <input asp-for="Road" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Road" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">ซอย :</label>
                                        <input asp-for="Soi" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Soi" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">ตำบล / แขวง :</label>
                                        <input asp-for="Locality" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Locality" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">อำเภอ / เขต :</label>
                                        <input asp-for="District" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="District" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">จังหวัด :</label>
                                        <input asp-for="Province" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Province" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label form-label-sm">รหัสไปรษณีย์ :</label>
                                        <input asp-for="ZibCode" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="ZibCode" class="text-danger col-form-label-sm"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </section>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Plugins/Datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Plugins/Datepicker/bootstrap-datepicker-thai.js"></script>
    <script src="~/Plugins/Datepicker/locales/bootstrap-datepicker.th.js"></script>
    <script>
        $(document).ready(function () {
            $(".item_click_Emproyee").addClass("active");

            $('.datepickernow').datepicker({
                language: 'th-th',
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                todayBtn: 'linked',
                autoclose: true
            }).datepicker("setDate", new Date());

            $('.datepicker').datepicker({
                language: 'th-th',
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                todayBtn: 'linked',
                autoclose: true
            });
        });

        @*document.querySelector("[btn-save]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการบันทึกข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    document.FrmMember.action = '@Url.Action("FrmProfile")'
                    document.FrmMember.submit();
                }
            })
        })

        document.querySelector("[btn-delete]").addEventListener('click', () => {
             Swal.fire({
                text: "ต้องการลบข้อมูลหรือไม่ ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    document.FrmMember.action = '@Url.Action("Delete")'
                    document.FrmMember.submit();
                }
            })
        })*@
    </script>
}