@{
    ViewData["Title"] = "Order";
    ViewData["System"] = "รับออเดอร์";
    Layout = "_Order";
}

@section Styles {
    <link rel="stylesheet" href="~/StyleSheet/Order/Index.css" />
}

<div class="container-fluid">
    <!-- content-table-heard -->
    <section class="content-table-heard">
        <div class="card mt-3 mb-3">
            <div class="card-body py-2">
                <div class="d-flex">
                    <div class="mr-2">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary text-white" type="button"><i class="fas fa-apple-alt"></i></button>
                            </div>
                            <select class="form-control" id="Zone">
                                <option value="">Show All</option>
                                @foreach (var row in ViewBag.GroupFood)
                                {
                                    <option value="@row.GroupFoodId">@row.GroupFoodName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="flex-grow-1">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="card mt-3">
        <div class="card-body" scroll-card>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">100</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 111111111</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">200</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 222222222</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">300</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 333333333</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">400</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 444444444</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">500</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 55555555</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">600</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 66666666</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">700</span>
                        <img src="~/Images/Food/NOIMAGE.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 77777777</p>
                    </button>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                    <button class="btn btn-block text-truncate p-0 button_order">
                        <span class="price_order">800</span>
                        <img src="~/Images/Food/G1001_Food.jpg" class="card-img-top" style="height:90px;width:100%;" asp-append-version="true" />
                        <p class="mb-0">อาหารที่ 88888888</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menubar">
    <div class="sidebar-right">
        <p>รายการ</p>
        <hr />
        <section class="order-body" style="background-color:blue" scroll>

        </section>
        <hr />
        <section class="order-footer">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">รายการ :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">จำนวนเงิน :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-primary btn-block">บันทึกรายการ</button>
                </div>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            screenScroll()
            Scroll() 
        });

        function screenScroll() {
            var height_P = $(window).height() - $('.navbar').height() - $('.content-table-heard').height() - 70
            $('[scroll-card]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }

        function Scroll() {
            var height_P = $(window).height() - $('.navbar').height() - 320
            $('[scroll]').slimScroll({
                height: height_P,
                railBorderRadius: 0,
                railVisible: true
            });
        }
    </script>
}