/* Navbar */
.nav-bar {
    border-bottom: 1px solid #E3EBF6;

}

/* CONTENT */
.wrapper .content {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    transition: all ease 0.25s;
    margin-right: 400px;
}

/* MENU */
.wrapper .sidemenu .sidebar .navbar-nav .nav-item .nav-link {
    position: relative;
    display: block;
    white-space: nowrap;
}

/* ICON MENU */
.wrapper .sidemenu .sidebar .navbar-nav .nav-item .nav-link .nav_icon {
    vertical-align: middle;
    height: 18px;
    width: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #E3EBF6;
}

/* TEXT MENU */
.wrapper .sidemenu .sidebar .navbar-nav .nav-item .nav-link .nav_text {
    padding-left: 0.5rem;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #E3EBF6;
}

/* NAV LINK HOVER  */
.wrapper .sidemenu .sidebar .navbar-nav .nav-item .nav-link:hover .nav_icon,
.wrapper .sidemenu .sidebar .navbar-nav .nav-item .nav-link:hover .nav_text {
    color: #fff;
}

/* Menu Bar */
.wrapper .menubar {
    position: fixed;
    margin: 0 auto 0 auto;
    padding: 1rem 1rem 0 1rem;
    width: 400px;
    height: 100%;
    transition: all ease 0.25s;
    z-index: 1000;
    margin-left: 1rem;
    background-color: #3B3C40;
    border-left: 1px solid #E3EBF6;
}

.wrapper .menubar {
    right: 0;
    padding: 0 1rem 0 1rem;
    background-color: #fff;
}

.wrapper .menubar .sidebar-right {
    margin: 1rem auto 1rem auto;
}